body, h6{
	font-family: 'Roboto', sans-serif !important;
}
body{
	background-color: white;
}
.the-header{
	background-color: #617D8A;
	padding: 40px 0px;
	margin-top: -26px;
}
.the-header .logo a:visited img {
	color: white !important;
	margin-bottom: 0 !important;
	height: 300px !important;
	width: 400px !important;
}
.nav-global li a {
	color: white !important;
}
.sidebar{
	background-color: #F1F2F1;//#ddd9d9;//#bfbfbf;
	position: fixed; 
	width:250px; 
	padding-right: 10px;
	//padding-top: 80px;
}
.sidebar .share-page a:nth-of-type(1) span{
	color: #00aced;//twitter
}
.sidebar .share-page a:nth-of-type(2) span{
	color: #3b5998;//facebook
}
.sidebar .share-page a:nth-of-type(3) span{
	color: #dd4b39;//G+
}
.sidebar .share-page a:nth-of-type(4) span{
	color: #FF4500;//reddit 
}
.sidebar .share-page a:nth-of-type(5) span{
	color: #007bb6; //linkedin
}
.sidebar .share-page .share{
	padding-left: 40px;
	font-weight: bold;
}
.ReadMore {
	text-align: center;
}
@media only screen and (max-width: 1230px) {
    .sidebar {
        visibility: hidden;
    }
}